{% extends 'base.html' %}

{% block title %}About / A simple htmx-demo site{% endblock %}

{% block body %}
  <div class="columns">

    <div class="column">
      <div class="panel">
        <p class="panel-heading">Key technologies used</p>
      </div>
      <div class="panel-block">
        Front end - Back end interaction: <a href="https://htmx.org/" target="_blank">htmx</a>
      </div>
      <div class="panel-block">
        CSS framework: <a href="https://bulma.io/" target="_blank">Bulma</a>
      </div>
      <div class="panel-block">
        Drag and drop: <a href="https://sortablejs.github.io/Sortable/" target="_blank">Sortable</a>
      </div>
      <div class="panel-block">
        Python web framework: <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">Flask</a>
      </div>
      <div class="panel-block">
        Charting library: <a href="https://bokeh.org/" target="_blank">Bokeh</a>
      </div>
    </div>

    <div class="column">
      <div class="panel">
        <p class="panel-heading">Who, what, where</p>
      </div>
      <div class="panel-block">
        Created by Coen de Groot, Python trainer and developer.
      </div>
      <div class="panel-block">
        <a href="https://www.betterpythoncode.com/">www.BetterPythonCode.com/</a>
      </div>
    </div>
  </div>
{% endblock %}
