<html>
  <head>
    <title>htmx demo</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
     <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <section class="section">
      <div class="container">
        {% include 'partials/navbar.html' %}
        <div class="box has-background-primary">
          <h1 class="title is-1 has-text-primary-light">{% block title %}{% endblock %}</h1>
        </div>
        {% block body %}
        {% endblock %}
      </div>
    </section>
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
